<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <style>
        body {
            font-family: "Agency FB", sans-serif;
            display: flex;
            font-size: x-large;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 20px;
            background-color: #183059;
        }

        .message {
            background-color: #E6E6EA;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            text-align: center;
        }

        h1 {
            color: #233D4D;
        }

        p {
            color: #183059;
        }
    </style>
</head>
<body>
    <div class="message">
        <h1>Form Submitted Successfully!</h1>
        <p>Hello, <%= name %>!</p>
    </div>
</body>
</html>